/*第二部分*/
#s{
    height: 330px;
    width:100%;
    /*background-color: #C20C0C;*/
}
#s1{
    width: 375px;
    height: 40px;
    position: relative;
}
#s1 span{
    position: absolute;
    left:10px;
    top:10px;
    color:#989899;
}
#s form div span {
    height: 40px;
    width: 320px;
    border:none;
    border-bottom: 1px #E3E3E3 solid;
    outline:none;
    display: flex;
    margin: auto;
    font-size:18px;
    color:#000000;
    /*background-color: #0084FF;*/
}
#s form div img {
    height: 20px;
    width: 20px;
    margin-top: 20px;
    border:none;
    border-bottom: 1px #E3E3E3 solid;
    outline:none;
}
#s2-1,#s3-1,#s4-1,#s5-1,#s6-1,#s7-1,#s8-1{
    margin-left: 30px;
}
#s2-1,#s2-2,#s3-1,#s3-2,#s4-1,#s4-2,#s5-1,#s5-2,
#s6-1,#s6-2,#s7-1,#s7-2,#s8-1,#s8-2{
    float:left;
}