#wk{
    position: relative;
}
/*第一部分*/
#f{
    width:100%;
    height:44px;
    background-color: #E6F0F7;
    position: relative;
}
#f1{
    height:44px;
    width: 45px;
    float:left;
}
#f1 a img{
    height:40px;
    width: 40px;
}
#f2{
    height: 30px;
    width:280px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top:5px;
    left:46px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#f2-1 a img{
    height:20px;
    width: 20px;
}
#f2-2{
    height:30px;
    width:200px;
    position: absolute;
    top:2px;
    left:30px;
}
#f2-2 input{
    font-size:14px;
    color:#757575;
    border:none;
}
#f2-3{
    position: absolute;
    right:10px;
}
#f2-3 a img{
    height:18px;
    width: 18px;
}
#f3{
    width:50px;
    height:44px;
    position: absolute;
    right:2px;
    display: flex;
    margin: auto;
    justify-content:center;
    align-items: center;
}
#f3 a span{
    color:#099FDE;
}
/*第二部分*/
#s{
    height: 330px;
    width:100%;
    /*background-color: #C20C0C;*/
}
#s1{
    width: 375px;
    height: 40px;
    position: relative;
}
#s1 span{
    position: absolute;
    left:10px;
    top:10px;
    color:#989899;
}
#s form div span {
    height: 40px;
    width: 320px;
    border:none;
    border-bottom: 1px #E3E3E3 solid;
    outline:none;
    display: flex;
    margin: auto;
    font-size:18px;
    color:#000000;
    /*background-color: #0084FF;*/
}
#s form div img {
    height: 20px;
    width: 20px;
    margin-top: 20px;
    border:none;
    border-bottom: 1px #E3E3E3 solid;
    outline:none;
}
#s2-1,#s3-1,#s4-1,#s5-1,#s6-1,#s7-1,#s8-1{
    margin-left: 30px;
}
#s2-1,#s2-2,#s3-1,#s3-2,#s4-1,#s4-2,#s5-1,#s5-2,
#s6-1,#s6-2,#s7-1,#s7-2,#s8-1,#s8-2{
    float:left;
}
/*第三部分*/
#t{
    height: 300px;
    width:100%;
    margin-top: 20px;
    /*background-color: brown;*/
    position: relative;
}
#t1{
    width: 375px;
    height: 40px;
    /*background-color:blue;*/
    position: relative;
}
#t1 span{
    position: absolute;
    left:10px;
    top:10px;
    color:#989899;
}
#t form div span {
    height: 40px;
    width: 320px;
    border: none;
    border-bottom: 1px #E3E3E3 solid;
    outline: none;
    display: flex;
    margin: auto;
    font-size: 18px;
    /*color: #000000;*/
    /*background-color: #C20C0C;*/
}
#t form div img {
    height: 20px;
    width: 20px;
    margin-top: 20px;
    border:none;
    border-bottom: 1px #E3E3E3 solid;
    outline:none;
}
#t2-1,#t2-2,#t3-1,#t3-2{
    float: left;
}
#t2-1,#t3-1{
    margin-left:30px;
}
#t2-1 span,#t3-1 span{
    margin-left:30px;
    color:  #000000;
}
#t4{
    height: 30px;
    width: 120px;
    /*background-color: #C20C0C;*/
    position: absolute;
    top:150px;
    left: 130px;
}
#t4 span{
    color:#099FDE;
}
